<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        People with id...
    </title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getYear_birth()}"/>

<p th:if="${books.isEmpty()}">Человек пока не взял ни одной книги</p>

<p th:unless="${books.isEmpty()}">Книги:</p>
<div th:unless="${books.isEmpty()}" th:each="book : ${books}"
   th:text="${book.name_book + ', ' + book.author + ', ' + book.year}"></div>

<br/>
<hr/>
<a th:href="@{/people/{id}/update(id=${person.getId_person()})}">Изменить</a>

</body>

</html>