<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        Create person
    </title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId_person()})}" th:object="${person}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="year_birth">Введите год рождения: </label>
    <input type="text" th:field="*{year_birth}" id="year_birth">
    <br/>
    <hr/>
    <input type="submit" value="Изменить!">
</form>


<br/>
<hr/>

</body>

</html>