<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        Create book
    </title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name_book">Введите название: </label>
    <input type="text" th:field="*{name_book}" id="name_book">
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author">
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year">
    <br/>
    <hr/>
    <input type="submit" value="Создать!">
</form>
<br/>
<hr/>
</body>
</html>